$navbar-color-solid: #1D3557; 
$navbar-color: rgb(29, 53, 87, 0.75);
$button-bg-color: #457B9D;
$button-text-blue: #A8DADC;
$background-color: #457B9D;
$logo-icon-hover: #457B9D;
$contacts-color: rgb(230, 57, 70, 0.7);
$border-hover: rgb(230, 57, 70, 0.7);
$article-white: rgba(255, 255, 255, 0.7);
$article-white-solid: rgba(255, 255, 255)

