@import "./styles/defaults/colours";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/components/utils";

body {
    margin: 0;
    background-color: $background-color-dark-gray;

    background: #748294 url("./images/newy.jpeg") 70% no-repeat;
    background-attachment: fixed;
    background-size: cover;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto Mono', monospace;
        
      
        .main-image {
            
            img {
                width: 300px;
                clip-path: circle();               
            }
        }
        
        .main-text {

            p {
                padding: 5px;
                color: $background-color-light-gray;
                font-size: 2rem;
                font-weight: 500;
                background-color: $background-color-dark-gray;
                text-align: center;
            }
        }

        .contact-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $contacts-color;
            width: 100%;
            color: $background-color-light-gray
        }
    }
}