@import "./styles/defaults/colours";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/components/utils";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:wght@300&family=Signika+Negative:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Signika Negative', sans-serif;
}

body {
    margin: 0;
    background-color: $background-color-gray;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 75px;    
}

main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-image {
            
            img {
                width: 200px;
                clip-path: circle();               
            }
        }

        .main-text {
            padding: 5px;
            color: $navbar-color;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }

        .contact-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(230, 57, 70, 0.75);
            width: 100%;
            font-size: 18px;
            color: $background-color-gray
        }
    }
}