@import "../../index.scss";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    font-family: 'Roboto Mono', monospace;
    background-color: $article-white;
    color: $navbar-color-solid;
    padding: 1.5rem 1.5rem;
    margin: 1rem;

    h1 {
        text-align: center;
    }

    p{
        font-size: 1.2rem;
    }

    li {
        font-size: 1.2rem;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        clip-path: circle(); 
    }

    figcaption {
        text-align: center;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: $medium) {
    main {
        margin: 0;

        img {
            width: 180px;
        }

        figcaption {
            font-size: 1rem;
        }
    }
}


