header {
  background-color: rgba(29, 53, 87, 0.75);
  padding: 16px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .logo-div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header .logo-div a a:hover {
  color: #457B9D;
  transition-duration: 0.5s;
}
header .logo-div a #rd-text {
  font-size: 4rem;
}
header .logo-div a #rd-text:hover {
  color: #457B9D;
  transition-duration: 0.5s;
}
header .logo-div a #fst-text {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
}
header .logo-div a #fst-text:hover {
  color: #457B9D;
  transition-duration: 0.5s;
}
header .name-div {
  margin-bottom: 1rem;
}
header .name-div #sub-text {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-style: italic;
}
header .name-div #sub-text:hover {
  color: #457B9D;
  transition-duration: 0.5s;
}

#nav-items {
  margin-left: auto;
}
#nav-items a {
  text-decoration: none;
  color: #A8DADC;
  font-size: 1rem;
  background-color: #457B9D;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20%;
}
#nav-items a:hover {
  background-color: #1D3557;
  transition-duration: 0.5s;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .logo-div a #rd-text {
    font-size: 2rem;
  }
  header .logo-div a #fst-text {
    font-size: 1.5rem;
  }
  header .name-div #sub-text {
    font-size: 1rem;
  }
  header #nav-items {
    margin-left: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgba(29, 53, 87, 0.75);
  padding: 16px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  margin-top: 25px;
}
footer .social-media a i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.7);
}
footer .social-media a i:hover {
  color: #457B9D;
  transition-duration: 0.5s;
}

@media screen and (max-width: 600px) {
  footer .social-media {
    margin-left: auto;
    margin-right: auto;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main a {
  text-decoration: none;
  color: #1D3557;
  font-family: "Roboto Mono", monospace;
}
main a p {
  font-size: 1.5rem;
}
main a h1 {
  font-size: 2rem;
}
main a .article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1rem;
  margin: 1rem;
}
main a .article .blog-image {
  width: 20vh;
  -webkit-clip-path: circle();
          clip-path: circle();
}
main a .article .blog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main a .article:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 600px) {
  main a {
    text-decoration: none;
    color: #1D3557;
    font-family: "Roboto Mono", monospace;
  }
  main a p {
    font-size: 1.5rem;
  }
  main a h1 {
    font-size: 2rem;
  }
  main a .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}/*# sourceMappingURL=blog.css.map */