@import "../../index.scss";

body {
    margin: 0;
    background-color: $background-color-dark-gray;
    background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    a {
        text-decoration: none;
        color: $navbar-color-dark;
        font-family: 'Roboto Mono', monospace;

        p {
            font-size: 1.5rem;
        }
        h1 {
            font-size: 2rem;
        }
            
        .article {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // width: 100vh;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 2rem 1rem;
            margin: 1rem;
            
            .blog-image {
                width: 20vh;
                // width: 250px;
                clip-path: circle();
                // margin-right: 10rem;
            }
            .blog-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                }        

         }
    }
}

@media screen and (max-width: $medium) {
    main {
        a {
            text-decoration: none;
            color: $navbar-color-dark;
            font-family: 'Roboto Mono', monospace;
    
            p {
                font-size: 1.5rem;
            }
            h1 {
                font-size: 2rem;
            }
                
            .article {
                display: flex;
                flex-direction: column;
                align-items: center;
   
    
             }
        }
    }

}