@import "../../index.scss";

// Body Styling

body {
    margin: 0;
    background: url("../../images/newy1.jpeg") 70% no-repeat;
    background-color: $background-color;
    background-attachment: fixed;
    background-size: cover;
}

// Main Article Styling

main {
    a {
        text-decoration: none;
        color: $navbar-color-solid;
        font-family: 'Roboto Mono', monospace;
        
        p {
            font-size: 1.5rem;
        }
        h1 {
            font-size: 2rem;
        }
            
        .article {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $article-white;
            padding: 2rem 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
            
            .blog-image {
                width: 20vh;
                clip-path: circle();
            }
            .blog-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                }        
         }
         .article:hover {
             border: 2px solid $border-hover;
         }   
    }
}

// 600px Breakpint for Phones

@media screen and (max-width: $phone-breakpoint) {
    main {
        a {
            text-decoration: none;
            color: $navbar-color-solid;
            font-family: 'Roboto Mono', monospace;
    
            p {
                font-size: 1.5rem;
            }
            h1 {
                font-size: 2rem;
            }
                
            .article {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
             }
        }
    }
}