@import "../../index.scss";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

main {
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $article-white;
            padding: 2rem 2rem;
            margin: 2rem;
            color: $navbar-color-solid;
            font-family: 'Roboto Mono', monospace;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
                text-align: left;
                font-weight: 400;
            }
        }
        article img {
            width: 50%;
            clip-path: circle();
        }
  }
.link {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 1rem;
    
        a {
            text-decoration: none;
            font-family: 'Roboto Mono', monospace;
            size: 2rem;
            color: $button-text-blue;
            background-color: $button-bg-color;
            padding: 1rem;
            border: 1px solid $button-text-blue;
            border-radius: 15%;
        }
        a:hover {
            background-color: $navbar-color-solid;
            transition-duration: 0.5s;
        }   

}



@media screen and (max-width: $medium) {


    main {
        article {
            margin: 0;

            h1 {
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
            }

            
        }
        .link {
            padding: 0.2rem;
            a {
                padding: 0.2rem;
            }
    }
    }
}
