@import "../../index.scss";

body {
    margin: 0;
    background-color: $background-color-dark-gray;

    background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
    background-attachment: fixed;
    background-size: cover;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}