header {
  background-color: rgba(29, 53, 87, 0.75);
  padding: 16px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .logo-div a {
  text-decoration: none;
  color: #F1FAEE;
}
header .logo-div a #rd-text {
  font-size: 4rem;
}
header .logo-div a #fst-text {
  color: #F1FAEE;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
}
header .name-div {
  margin-bottom: 1rem;
}
header .name-div #sub-text {
  color: #F1FAEE;
  font-size: 1.5rem;
  font-style: italic;
}

#nav-items {
  margin-left: auto;
}
#nav-items a {
  text-decoration: none;
  color: #A8DADC;
  font-size: 1rem;
  background-color: #457B9D;
  padding: 0.5rem;
  border: 1px solid #F1FAEE;
  border-radius: 20%;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .logo-div a #rd-text {
    font-size: 2rem;
  }
  header .logo-div a #fst-text {
    font-size: 1.5rem;
  }
  header .name-div #sub-text {
    font-size: 1rem;
  }
  header #nav-items {
    margin-left: 0;
  }
}
footer {
  background-color: rgba(29, 53, 87, 0.75);
  padding: 16px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  margin-top: 25px;
}
footer .social-media a i {
  font-size: 2.5rem;
  color: #F1FAEE;
}

@media screen and (max-width: 600px) {
  footer .social-media {
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.7);
  background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  margin: 1rem;
}
main .form-div {
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
}
main .form-div h1 {
  font-family: "Roboto Mono", monospace;
  size: 3rem;
  color: #1D3557;
  text-align: center;
}
main .form-div form .form-elements {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
main .form-div form .form-elements label {
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: #1D3557;
}
main .form-div form .form-elements .form-input {
  border: 1px solid #1D3557;
  border-radius: 4px;
  font-size: 1.2rem;
  width: 50%;
  align-self: center;
}
main .form-div form .form-elements .form-input#form-textarea {
  resize: none;
}
main .form-div form .form-elements .form-input:not(#form-textarea) {
  height: 35px;
}
main .form-div .btn-div {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.2rem;
}
main .form-div .btn-div #submit {
  height: 50px;
  min-width: 120px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  color: #A8DADC;
  background-color: #457B9D;
  border: 1px solid #A8DADC;
  border-radius: 4px;
}/*# sourceMappingURL=contact.css.map */