@import "../../index.scss";

body {
    min-height: 100vh;
    margin: 0;
    background-color: $article-white;

    background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    margin: 1rem;

.form-div {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    

    h1 {
        font-family: 'Roboto Mono', monospace;
        size: 3rem;
        color: $navbar-color-solid;
        text-align: center;


    }

        form {
            
            .form-elements {
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                
                label {
                    font-size: 1.5rem;
                    font-family: 'Roboto Mono', monospace;
                    text-align: center;                    
                    color: $navbar-color-solid;
                }
                
                .form-input {
                    border: 1px solid $navbar-color-solid;
                    border-radius: 4px;
                    font-size: 1.2rem;
                    width: 50%;
                    align-self: center;

                    &#form-textarea {
                        resize: none;
                    }

                    &:not(#form-textarea) {
                        height: 35px;
                    }


                }
            }
        }

        .btn-div {
            text-align: center;
            margin-bottom: 2rem;
            padding: 0.2rem;

            #submit {
                height: 50px;
                min-width: 120px;
                text-decoration: none;
                font-family: 'Roboto Mono', monospace;
                font-size: 1.2rem;
                color: $button-text-blue;
                background-color: $button-bg-color;
                border: 1px solid $button-text-blue;
                border-radius: 4px;
            }

            #submit:hover {
                    background-color: $navbar-color-solid;
                    transition-duration: 0.5s;
            }
        }
    }
}

@media screen and (max-width: $medium) {

}