@import "../../index.scss";

// Body Styling 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #748294 url("../../images/newy1.jpeg") 70% no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto Mono', monospace;
     
        
        .main-image {
            
            img {
                width: 300px;
                clip-path: circle();               
            }
        }
        
        .main-greeting {
            width: 100%;
            
            .greeting-text {
                padding: 5px;
                color: $navbar-color-solid;
                font-size: 2rem;
                font-weight: 500;
                background-color: $article-white;
                text-align: center;
            }
        }
        .contact-section {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            padding: 1rem;
            background-color: $contacts-color;
            width: 100%;  
        }
    }
}
.contact-section {
    text-align: center;
    color: $article-white;
    padding: 1;
    margin: 0;

    .contact-text {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
}

// 600px Breakpint for Phones

@media screen and (max-width: $phone-breakpoint) {
    main {
        section {
            .main-image {
                img {
                    width: 180px;          
                }
            }
            
            .main-greeting {
   
                .greeting-text {
                    font-size: 1.2rem;
                }
            }
        }
        .contact-section {
            text-align: center;
            color: $article-white;
            padding: 0;
            margin: 0;
        
            .contact-text {
                font-size: 1.2rem;
            }
        }
    }
}

