@import "../../index.scss";

// Body Styling

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background: url("../../images/newy1.jpeg") 70% no-repeat;
    background-color: $background-color;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

// Main Article Styling

main {
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $article-white;
            padding: 2rem 2rem;
            margin: 2rem;
            color: $navbar-color-solid;
            font-family: 'Roboto Mono', monospace;

            h1 {
                font-size: 2.5rem;
            }

            .blog-text {
                font-size: 1.5rem;
                text-align: left;
                font-weight: 400;
                padding: 1rem;
            }
        }
        article img {
            width: 50%;
            clip-path: circle();
        }
  }

// Blog Link Styling

.link {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    background-color: $navbar-color;
    padding: 2rem;
    margin-bottom: 2rem;
    
        a {
            text-decoration: none;
            font-family: 'Roboto Mono', monospace;
            size: 2rem;
            color: $button-text-blue;
            background-color: $button-bg-color;
            padding: 1rem;
            border: 1px solid $button-text-blue;
            border-radius: 15%;
        }
        a:hover {
            background-color: $navbar-color-solid;
            transition-duration: 0.5s;
        }   

    }

// 600px Breakpint for Phones

@media screen and (max-width: $phone-breakpoint) {

    main {
        article {
            margin: 0;

            h1 {
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
            }

        }

        .link {
            padding: 0.2rem;

            a {
                padding: 0.2rem;
            }
        }
    }
}
