@import "../defaults/breakpoints";
@import "../defaults/colours";
@import "./utils";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

footer {
    @include background-properties();
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;


      

    .social-media {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        margin-top: 25px;
        
        a {
            i {
                font-size: 2.5rem;
                color: $background-color-light-gray
                
                
            }
        }
    }
}

@media screen and (max-width: $medium) {
    footer {
        .social-media {

            margin-left: auto;
            margin-right: auto;
        }
    }
}