@import "../defaults/breakpoints";
@import "../defaults/colours";
@import "./utils";

header {
    @include background-properties();

    a {
        text-decoration: none;
    }

    .logo-name {
        @media screen and (max-width: $medium) {
            margin: 48px;
        }
    }

        .name {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            
            #rd-text {
                color: $background-color-light-gray;
                font-size: 48px;
                
            }
            
            #fst-text {
                color: $background-color-light-gray;
                font-size: 40px;
                font-family: 'Roboto Mono', monospace;
                
            }
            
            #sub-text {
                color: $background-color-light-gray;
                font-size: 24px;
                font-style: italic;
                
            }
        }
        
        #nav-items {
            display: flex;
            justify-content: space-around;
            
            a {
                color: $text-blue-color;
                font-size: 24px;
                background-color: $footer-color;
                padding: 15px;
                border: 1px solid $background-color-light-gray;
                border-radius: 20%;
            }        
        }  
}

@media screen and (min-width: $medium) {
        
        header {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        .logo-name {
            
            .name {
                margin-bottom: 0;
            }
        }

        #nav-items {
            width: 50%;
        }
    }
}
