@import "../defaults/breakpoints";
@import "../defaults/colours";
@import "./utils";

header {
    @include background-properties();
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .logo-div {
            a {
            text-decoration: none;
            color: $article-white-solid;
            a:hover {
                color: $logo-icon-hover;
                transition-duration: 0.5s;
            }
            
            #rd-text {
                font-size: 4rem;
            }
            #rd-text:hover {
                color: $logo-icon-hover;
                transition-duration: 0.5s;
            }   
            
            #fst-text {
                color: $article-white-solid;
                font-size: 3rem;
                font-family: 'Roboto Mono', monospace;                  
            }
            #fst-text:hover {
                color: $logo-icon-hover;
                transition-duration: 0.5s;
            }    
        }
    }
    
    .name-div {
        margin-bottom: 1rem;
        #sub-text {
            color: $article-white-solid;
            font-size: 1.5rem;
            font-style: italic;
            }
            #sub-text:hover {
                color: $logo-icon-hover;
                transition-duration: 0.5s;
            } 
    }
}

    #nav-items {
        margin-left: auto;
        
         a {
            text-decoration: none;
            color: $button-text-blue;
            font-size: 1rem;
            background-color: $button-bg-color;
            padding: 0.5rem;
            border: 1px solid $article-white;
            border-radius: 20%;
        }   
        a:hover {
            background-color: $navbar-color-solid;
            transition-duration: 0.5s;
        }     
    }  

@media screen and (max-width: $phone-breakpoint) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-div {
            a {
                #rd-text {
                    font-size: 2rem;
                }
                #fst-text {
                    font-size: 1.5rem;
                }
            }
        }

        .name-div {
            #sub-text {
                font-size: 1rem;
            }
        }

        #nav-items {
            margin-left: 0;
        }    
    }
}