$navbar-color-dark: #1D3557; 
// $contacts-color: #E63946;
$background-color-light-gray: #F1FAEE;
// $background-color-dark-gray: #748294;
$footer-color: #457B9D;
$text-blue-color: #A8DADC;

$navbar-color: rgb(29, 53, 87, 0.75);
$contacts-color: rgb(230, 57, 70, 0.5);
// $background-color-light-gray: rgb(241, 250, 238)
$background-color-dark-gray: rgb(116, 130, 148, 0.75);
// $footer-color: rgb(69, 123, 157)
// $text-blue-color:rgb(168, 218, 220)

